body{
    background-color: rgb(198, 250, 233);
}
header{
    margin-left: 400px;
}
header img{
    width: 60px;
    
}
h1{
    text-transform: uppercase;
    font-weight: bold;
}
nav{
    width: 100%;
    height: 40px;
    background-color: aqua;
}
nav ul{
    display:flex;
    
}
nav a{
    text-decoration: none;
    margin: 20px;
   
}
nav li{
    list-style: none;
    margin: 10px;
}
nav li :hover{
    background-color: fuchsia;
    padding: 10px;
    height: 80px;
    border-radius: 7px;
}

article{
    text-align: justify;
    margin: 20px;
    height: 400px;
}
article h3{
    text-decoration: underline;
}
article img{
    width: 30%;
    height: 200px;
}
section{
    background-image: url(asset/homeback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}

form input{
    display: block;


}
form textarea{
    display: block;

}
form button{
    background-color: brown;
    color: white;
}
form button:hover{
    background-color: blueviolet;
    color: black;
}
footer{
    border: 2px solid black;
    margin: 20px;
    padding: 30px;
}

footer div{
    text-align: center;
}